@keyframes backgroundGradientHorizontal {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }
}
@keyframes backgroundGradientVertical {
    0% {
        background-position: center 0%;
    }

    100% {
        background-position: center 100%;
    }
}
@keyframes clockGradientHorizontal {
    from {
        background-position: 0% center;
    }
    to {
        background-position: 200% center;
    }
}
@keyframes clockGradientVertical {
    from {
        background-position: center 0%;
    }
    to {
        background-position: center 200%;
    }
}