#contents.ytmusic-section-list-renderer>ytmusic-carousel-shelf-renderer.ytmusic-section-list-renderer:not(:last-child) {
    margin-bottom: 0; /* remove random retarded padding on related list */
}

html {
    scrollbar-color: unset;
}

ytmusic-player {
    aspect-ratio: 1;
}

/* these make clicking the progress bar a little easier on the new design, should not break old design */
.ytMusicMiniPlayerProgressBarWrapper {
    padding: 0;
    height: 6px;
}
.ytMusicMiniPlayerProgressBarWrapper:hover > .ytMusicMiniPlayerProgressBar {
    height: 6px;
}