#contents.ytmusic-section-list-renderer>ytmusic-carousel-shelf-renderer.ytmusic-section-list-renderer:not(:last-child) {
    margin-bottom: 0; /* remove random retarded padding on related list */
}

html {
    scrollbar-color: unset;
}

ytmusic-player {
    aspect-ratio: 1;
}