@media screen and (max-height: 768px) {
    #ytmPlusCfg {
        height: 512px;
        font-size: 12px;
    }
}

@media screen and (min-height: 769px) {
    #ytmPlusCfg {
        height: 768px;
        font-size: 18px;
    }
}

#ytmPlusCfg {
    background-color: rgba(0, 0, 0, 0.925);
    box-shadow: 20px 20px 40px rgba(10, 10, 10, 0.8);
    border: 0;
    border-radius: 1em;
    z-index: 9998;
    /* GM_config sets a lot of things to element, we can only change it in JS no? */
}

#ytmPlusCfg * {
    font-family: monospace;
    color: #EEEEEE;
}

#ytmPlusCfg_wrapper {
    display: flex;
    height: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

#ytmPlusCfg_titlebar {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(66, 66, 66, 0.925);
    width: 100%;
    height: 7.68%;
    align-items: center;
}

.titlebarButtons {
    font-size: 1.5em;
    padding: 0;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.925);
    background-color: rgb(66, 66, 66, 0.925);
    transition: 100ms linear;
}

.titlebarButtons:hover {
    background-color: #a1a1a1;
}

#titlebar_x:hover {
    background-color: rgb(170, 25, 25);
}

#supportMePls:hover {
    background: #00CAFE;
}

#goToKofi {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#supportMePls img {
    height: 100%;
}

#titlebar_draggable {
    width: 100%;
    height: 100%;
    cursor: move;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#titlebar_icon {
    height: 80%;
    margin: 0 0.675%;
}

#sideBySide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 52px);
    align-content: space-evenly;
}

#categorySelect {
    width: 40%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-evenly;
}

#ytmPlusCfg #ytmPlusCfg_header {
    background: -webkit-linear-gradient(-45deg, rgb(170, 25, 25), rgb(25, 25, 170));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

#ytmPlusCfg .config_header {
    font-size: 1em;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

#ytmPlusCfg .changeCategoryButton {
    border: 5px groove;
    --angle: 0deg;
    border-image: repeating-linear-gradient(var(--angle), #ffd700 0px, #666 25px, #666 50px, #ffd700 100px) 1;
    border-radius: 0;
    padding: 3.25%;
    width: 95%;
    height: auto;
    white-space: pre-wrap;
    animation: plsRotate 15s infinite linear;
}

@keyframes plsRotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

#ytmPlusCfg .reset_holder {
    text-align: center;
}

#ytmPlusCfg .reset {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

#ytmpDivider {
    background: #aaaaaa;
    width: 0.1%;
    height: 100%;
}

#currentSettings {
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

#ytmPlusCfg .section_header_holder {
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

#ytmPlusCfg .config_var {
    text-align: left;
    height: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #6666;
    margin: 0;
}

#ytmPlusCfg .field_label {
    width: 70%;
    font-size: 1.23em;
    display: flex;
    align-items: center;
    margin-right: 0;
    padding: 2% 0;
}

#ytmPlusCfg input[type="color"] {
    color: #89befe;
    background: #62666F;
    display: flex;
    align-items: center;
    width: 10%;
    height: 1.5em;
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
}

/* #ytmPlusCfg input[type="color"]:before {
    content: "CHANGE";
    padding: 0 7.5%;
} */

#ytmPlusCfg input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

#ytmPlusCfg input[type="color"]::-webkit-color-swatch {
    /* border: 1px solid #fff; */
    border-radius: 0.75em
}

#ytmPlusCfg input[type="checkbox"] {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 10%;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #313338;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="checkbox"]:before {
    font-size: 1em;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
    background: #62666F;
    color: #313338;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    transition: 0.3s;
}

input[type="checkbox"]:checked {
    background: linear-gradient(135deg, #4135be, #497ebe);
}

input[type="checkbox"]:checked:before {
    content: "";
    background: linear-gradient(135deg, #8276ff, #8abfff);
    color: #89befe;
    margin-left: 50%;
}

input[type="checkbox"]:hover {
    background: linear-gradient(135deg, #313338, #52565F);
}

input[type="checkbox"]:checked:hover {
    background: linear-gradient(135deg, #5145ae, #598ece);
}

#ytmPlusCfg input[type="text"] {
    width: 15%;
    height: 75%;
    padding: 0 2.5%;
}

input {
    background-color: rgba(66, 66, 66, 0.8);
    border: none;
    border-radius: 0.75em;
    padding: 9px;
    font-size: inherit;
}

#ytmPlusCfg textarea {
    background-color: rgba(66, 66, 66, 0.8);
    width: 100%;
    height: 25%;
    resize: none;
    white-space: nowrap;
    overflow-wrap: normal;
    border: none;
    border-radius: 0.75em;
    padding: 1%;
    scrollbar-width: none;
    font-size: inherit;
}

#ytmPlusCfg textarea::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

#ytmPlusCfg select {
    background: #030303ee;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 0;
    font-size: inherit;
    width: 30%;
    height: 75%;
    text-overflow: ellipsis;
}

#ytmPlusCfg select:hover {
    background: #303030ee;
}

#ytmPlusCfg *::-webkit-scrollbar {
    width: 12px;
}

#ytmPlusCfg *::-webkit-scrollbar-track {
    background: #313338;
}

#ytmPlusCfg *::-webkit-scrollbar-thumb {
    background: #62666F;
}

#ytmPlusCfg *::-webkit-scrollbar-thumb:hover {
    background: #b4bbbf;
}

#header_svg {
    width: 100%;
    height: 90px;
}

#vnumber_header {
    -webkit-text-fill-color: white;
}

svg text {
    font-size: 5em;
    animation: stroke 10s infinite alternate linear;
    stroke-width: 2;
    stroke: #aa0000;
}

@keyframes stroke {
    0% {
        fill: rgba(200, 0, 85, 0.25);
        stroke: rgba(170, 0, 85, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 10%;
        stroke-width: 3;
    }

    100% {
        fill: rgba(200, 0, 85, 0.25);
        stroke: rgba(170, 0, 85, 1);
        stroke-dashoffset: -25%;
        stroke-dasharray: 10%;
    }
}

@keyframes buttonBorder {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 200% center;
    }
}

@-moz-document url-prefix() {
    #currentSettings {
        overflow: scroll;
    }
}

#ytmPlusCfg #reset_warning {
    border: 3px solid;
    border-radius: 0.75em;
    background: #333138;
    position: absolute;
    inset: 25% 0 0 25%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

#warning_text {
    font-size: 1.5em;
    width: fit-content;
    text-align: center;
}

.warning_buttons {
    transition: 100ms linear;
}

#yes_reset_button {
    background-color: #f77;
}

#yes_reset_button:hover {
    background-color: #a00;
}

#no_goback_button {
    background-color: #77f;
}

#no_goback_button:hover {
    background-color: #00a;
}

#shortcutWindow {
    z-index: 9999;
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #00000088;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}

#shortcutText {
    display: flex;
    align-items: center;
    text-align: center;
    height: 15%;
}

#shortcutButtonHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 6em;
}

#shortcutButtonHolder input {
    width: 4em;
    color: white;
    font-size: 0.5em;
    transition: 100ms linear;
}

#saveShortcut {
    background-color: #77f;
} 

#saveShortcut:hover {
    background-color: #00a;
}

#resetShortcut {
    background-color: #f77;
}

#resetShortcut:hover {
    background-color: #a00;
}

.userButtons {
    width: 30%;
    background-color: #77f;
    transition: 100ms linear;
}

.userButtons:hover {
    background-color: #00a;
}